.print>.markdown-preview-view :is(h4) {
    text-align: center;
    font-family: "Times New Roman", Times, serif !important;
    break-before: page;
}


ul>li.task-list-item[data-task="x"] {
    list-style-type: "☑️";
    text-decoration:none;
    padding-left: 2em;
    font-weight: bold;
    color: black;
    font-family: "Times New Roman", Times, serif !important;
}

li[data-task="!"]>input:checked::after,
li[data-task="*"]>input:checked::after,
li[data-task='"']>input:checked::after,
li[data-task="l"]>input:checked::after,
li[data-task="b"]>input:checked::after,
li[data-task="i"]>input:checked::after,
li[data-task="S"]>input:checked::after,
li[data-task="I"]>input:checked::after,
li[data-task="p"]>input:checked::after,
li[data-task="c"]>input:checked::after,
li[data-task="f"]>input:checked::after,
li[data-task="k"]>input:checked::after,
li[data-task="w"]>input:checked::after,
li[data-task="u"]>input:checked::after,
li[data-task="d"]>input:checked::after,
li[data-task="?"]>input:checked::after {
    background: none !important;
    mask-image: none !important;
    -webkit-mask-image: none !important
}


